@charset "utf-8";
/* CSS Document */

<style type="text/css">
<!--
.style3 {
	color: #000000;
	font-weight: bold;
	font-size: 24px;
}
.style5 {color: #999999}
.style6 {font-weight: bold}
.style7 {font-size: 18px}
.style10 {color: #FFFFFF}
-->
</style>